[Unit]
Description=Synergy server
Requires=x_dummy.service network.target
After=x_dummy.service network.target

[Service]
ExecStart=/usr/bin/synergys -c /etc/synergy/synergy.conf -f --display :0.0
ExecStop=killall /usr/bin/synergys
Restart=always
RestartSec=3

[Install]
RequiredBy=default.target
